.tinder-publico-bg {
  background: url("./img/andre-cupido.webp") no-repeat 80% 10% / 200px,
    linear-gradient(252deg, rgba(62, 11, 89, 1) 0%, rgba(6, 2, 25, 1) 100%);
  padding: 40px 0;
}

.tinder-publico h1 {
  margin-bottom: 24px;
}
.publico-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 12px;
  max-width: 560px;
}

.tinder-publico > p {
  text-align: center;
  max-width: 860px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 12px;
}

.tinder-publico a {
  margin: 0 auto;
  max-width: 280px;
}
@media (max-width: 800px) {
  .tinder-publico-bg {
    background: url("./img/andre-cupido.webp") no-repeat 100% 92% / 140px,
      linear-gradient(252deg, rgba(62, 11, 89, 1) 0%, rgba(6, 2, 25, 1) 100%);
  }
  .tinder-publico > p {
    margin-bottom: 20px;
    font-size: 1.275rem;
    max-width: 560px;
  }
}

@media (max-width: 520px) {
  .tinder-publico-bg {
    background: url("./img/andre-cupido.webp") no-repeat 100% 88% / 100px,
      linear-gradient(252deg, rgba(62, 11, 89, 1) 0%, rgba(6, 2, 25, 1) 100%);
  }
  .tinder-publico h1 {
    font-size: 1.5rem;
  }
  .publico-item {
    font-size: 1rem;
  }
  .tinder-publico > p {
    margin-bottom: 80px;
    font-size: 1.275rem;
    max-width: 560px;
  }
  .tinder-publico a {
    font-size: 1.1rem;
    padding: 10px 20px;
    max-width: 260px;
  }
}

@media (max-width: 375px) {
  .tinder-publico-bg {
    background: url("./img/andre-cupido.webp") no-repeat 100% 88% / 100px,
      linear-gradient(252deg, rgba(62, 11, 89, 1) 0%, rgba(6, 2, 25, 1) 100%);
  }
}

@media (max-width: 320px) {
  .tinder-publico-bg {
    background: url("./img/andre-cupido.webp") no-repeat 100% 91% / 90px,
      linear-gradient(252deg, rgba(62, 11, 89, 1) 0%, rgba(6, 2, 25, 1) 100%);
  }
  .tinder-publico > p {
    font-size: 1.275rem;
  }
  .tinder-publico a {
    font-size: 1.1rem;
    padding: 8px 16px;
  }
}
