.box-espelho {
  display: grid;
  grid-template-columns: .75fr 1fr;
  align-items: start;
  gap: 40px;
  padding-bottom: 40px;
}
.box-texto1 {
  margin-top: 40px;
  max-width: 500px;
}

.box-texto1 p {
  margin-bottom: 12px;
}
.grafico-img {
  margin-top: 40px;
  max-width: 480px;
}
.grafico-img p {
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  margin-top: 8px;
}

.box-texto2 {
  grid-column: 2;
  max-width: 500px;
  margin-top: 20px;
}
.box-texto2 p {
  margin-bottom: 12px;
}
.espelho-img {
  grid-column: 1;
  grid-row-start: 2;
  max-width: 360px;
}

@media (max-width: 520px) {
  .box-espelho {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .box-texto1,
  .box-texto2 {
    grid-column: 1;
  }
  .box-texto1 p,
  .box-texto2 p {
    font-size: 1rem;
  }
  .grafico-img {
    margin-top: 0px;
  }
  .espelho-img {
    grid-row-start: 4;
  }
}
