.tinder-conheca h1 {
  margin-top: 40px;
  margin-bottom: 24px;
  max-width: 890px;
}

.analise-bonus {
  max-width: 700px;
  padding: 12px 24px;
  background-color: #4b2066;
  border-radius: 4px;
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 32px;
}

.analise-bonus::after {
  content: "";
  background-image: url("../img/like-roxo.png");
  position: absolute;
  width: 61px;
  height: 63px;
  display: flex;
  top: -40px;
  right: -10px;
  z-index: 1000;
}

.tinder-conheca > img {
  margin: 0 auto;
}

.tinder-conheca > p {
  max-width: 660px;
  margin: 32px 0 12px 0;
}

.tinder-conheca ul li {
  margin-bottom: 12px;
}

.tinder-conheca a {
  max-width: 600px;
  margin: 32px 0;
}

.tinder-video h1 {
  max-width: 600px;
  margin: 60px 0 24px 0;
}

@media (max-width: 520px) {
  .tinder-conheca h1 {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  .tinder-conheca p,
  .tinder-conheca ul li {
    font-size: 1rem;
  }
  .tinder-conheca a {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
  .tinder-video h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .analise-bonus {
    padding: 10px 18px;
  }
  .analise-bonus p {
    font-size: 0.875rem;
  }
}
