.p1 {
  color: #FF0143;
}
.c1 {
  color: #ededed;
}
.c2 {
  color: #121212;
}
.c3 {
  color: #595959;
}
.c4 {
  color: #FFF62B;
}
.c5 {
  color: #540909;
}
.w {
  color: #ffffff;
}
/*BG FONTE */
.font-bg1 {
  background-color: #2e2e2e;
}

