.font-h1 {
  font: 700 2.5rem/1.125 "Poppins", sans-serif;
  letter-spacing: 0.015em;
}
.font-h1-ms {
  font: 700 2.5rem/1.125 "Montserrat", sans-serif;
  letter-spacing: 0.015em;
}

.font-h1-l {
  font: 700 2rem/1.125 "Poppins", sans-serif;
  letter-spacing: 0.015em;
}
.font-h1-ms-l {
  font: 700 2rem/1.325 "Montserrat", sans-serif;
  letter-spacing: 0.015em;
}

.font-h1-m {
  font: 700 1.5rem/1.125 "Poppins", sans-serif;
  letter-spacing: 0.015em;
}


/*------*/
.font-p-xs {
  font: 400 0.75rem/1 "Montserrat", sans-serif;
}
.font-p-s {
  font: 400 1rem/1.3 "Montserrat", sans-serif;
}

.font-p {
  font: 400 1.125rem/1.3 "Montserrat", sans-serif;
}
.font-p-l {
  font: 400 1.5rem/1.25 "Montserrat", sans-serif;
}

/*------*/

.bold {
  font-weight: 700;
}
.corte {
  text-decoration-line: line-through;
}
.corte-red {
  text-decoration-line: line-through;
  text-decoration-color: red;
}
.sublinha {
  text-decoration-line: underline;
}
